.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(250, 248, 248);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  color: inherit;
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgrey;
}

.payment__title {
  flex: 0.3;
}
.payment__address,
.payment__items,
.payment__details {
  flex: 0.7;
}

.payment__submitButton {
  cursor: pointer;
  background-color: rgba(241, 175, 52, 0.925);
  border: 1px solid;
  padding: 5px;
  color: black;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-bottom: 10px;
  width: 100%;
}
